//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..
OFX_LWS_PATH = $(OF_PATH)/addons/ofxLibwebsockets

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"
#include "../../../addons/ofxLibwebsockets/ofxLibwebsockets.xcconfig"

//ICONS - NEW IN 0072 
ICON_NAME_DEBUG = icon-debug.icns
ICON_NAME_RELEASE = icon.icns
ICON_FILE_PATH = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/

//IF YOU WANT AN APP TO HAVE A CUSTOM ICON - PUT THEM IN YOUR DATA FOLDER AND CHANGE ICON_FILE_PATH to:
//ICON_FILE_PATH = bin/data/

OFX_KINECT_HEADERS = "../../../addons/ofxKinect/libs/libusb-1.0/include" "../../../addons/ofxKinect/libs/libusb-1.0/include/libusb-1.0" " ../../../addons/ofxKinect/libs/libfreenect/include"
OFX_CV_INCLUDES =  "../../../addons/ofxOpenCv/libs/opencv/include/" "../../../addons/ofxCv/libs/ofxCv/include/"

OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OFX_LWS_LIBS) "../../../addons/ofxKinect/libs/libusb-1.0/lib/osx/usb-1.0.a" "../../../addons/ofxNI2/libs/OpenNI2/lib/osx/libOpenNI2.dylib" "../../../addons/ofxNI2/libs/NiTE2/lib/osx/libNiTE2.dylib"
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(OFX_LWS_INCLUDES) $(OFX_KINECT_HEADERS) $(OFX_CV_INCLUDES)
LIBRARY_SEARCH_PATHS = $(inherited) $(OFX_LWS_SEARCH) "../../../addons/ofxKinect/libs/libusb-1.0/lib/osx" "../../../addons/ofxNI2/libs/OpenNI2/lib/osx" "../../../addons/ofxNI2/libs/NiTE2/lib/osx"
